{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %} {{ block.super }} - Confirm Password {% endblock head_title %}

{% block content %}
   <div class="row justify-content-center">
        <div class="col-6 text-center">
            {% if validlink %}
                <p>Insert your new password and confirm it</p>
                <form class="" method="POST" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-primary" type="submit" value="Confirm Password">
                </form>
            {% else %}
                <h1>Error</h1>
                <p>The link is not valid.</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}