{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %} {{ block.super }} - Change Password {% endblock head_title %}

{% block content %}
   <div class="row justify-content-center">
        <div class="col-6 text-center">
            <p>Insert old password and then new password twice</p>
            <form class="" method="POST" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-info" type="submit" value="Change Password">
            </form>
        </div>
    </div>
{% endblock content %}