{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %} {{ block.super }} - {{ discussion.discussion_title }} {% endblock head_title %}

{% block content %}
<div class="row justify-content-center mx-auto">
      <div class="col-8">
          <h2>{{ discussion.discussion_title }}</h2>
          <h5 class="text-muted">{{ discussion.discussion_creation_data }}</h5>
          <h5>In: <a class="text-decoration-none" href="{% url 'show_section' pk=discussion.discussion_section.pk %}">
              {{ discussion.discussion_section }}</a>
          </h5>
          {% for post in posts_in_page %}
          <div class="card my-2">
              <div class="card-header py-0">
                  <footer>{{ post.post_creation_data }}</footer>
              </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-xl-2 col-3 border-end px-1">
                          <h5 class="card-text"><a class="text-decoration-none" href="{% url 'user_profile' username=post.post_author.username %}">{{ post.post_author }}</a></h5>
                          <small class="card-text text-muted">User since: {{ post.post_author.date_joined|date:"M Y" }}</small>
                          <small class="card-text text-muted">Posts: {{ post.post_author.posts.count }}</small>
                      </div>
                      <div class="col-xl-10 col-9 px-2">
                          <p class="card-text my-0">{{ post.post_content|linebreaks }}</p>
                      </div>
                  </div>


              </div>
          </div>
          {% endfor %}

          <div class="text-end">
              <span class="step-links">
                  {% if posts_in_page.has_previous %}
                    <a href="?page=1">&laquo; first</a> &nbsp;
                    <a href="?page={{ posts_in_page.previous_page_number }}">previous</a> &nbsp;
                  {% endif %}

                  <span class="current">
                      Page {{ posts_in_page.number }} of {{ posts_in_page.paginator.num_pages }}
                  </span> &nbsp;

                  {% if posts_in_page.has_next %}
                      <a href="?page={{ posts_in_page.next_page_number }}">next</a> &nbsp;
                      <a href="?page={{ posts_in_page.paginator.num_pages }}">last &raquo;</a>
                  {% endif %}
              </span>
          </div>

          {% if request.user.is_authenticated %}
              {% include 'answer_form.html' %}
          {% else %}
              <div class="alert alert-info my-4" role="alert">
                    You must <a href="{% url 'login' %}?next={{ request.get_full_path }}">log in</a> to write a post!
              </div>
          {% endif %}
      </div>
</div>
{% endblock content %}