{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %} {{ block.super }} - {{ section.section_name }} {% endblock head_title %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ section.section_name }}</h3>
                <p class="card-text">{{ section.section_description }}</p>
            </div>
            <div class="card-body">
                {% for disc in section_discussions %}
                    <p><a href="{{ disc.get_absolute_url }}">{{ disc.discussion_title }}</a></p>
                    <p>{{ disc.discussion_author }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}