{% extends 'base.html' %}
{% load static %}

{% block head_title %} {{ block.super }} - Homepage {% endblock head_title %}

{% block content %}
    <div class="row justify-content-center mx-auto">
        <div class="text-center">
            <img class="img-fluid" src="{% static 'banner.png' %}" alt="ThePubForum">
            <h1>Homepage - The Pub Forum</h1>
            <br />
            {% for section in object_list %}
                <h4><a href="{{ section.get_absolute_url }}"><strong>{{ section.section_name }}</strong></a></h4>
                <p>{{ section.section_description }}</p>
                <img src="{{ section.section_logo.url }}" alt="Section logo">
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock content %}