{% extends 'base.html' %}

{% block head_title %} {{ block.super }} - Users List {% endblock head_title %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-8 text-center">
            <h2>Users List</h2>
            <hr>
            {% for item in object_list %}
                <p>User: <a class="text-decoration-none" href="{% url 'user_profile' username=item.username %}">
                    <strong>@{{ item.username }}</strong>
                </a></p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}